
#instafeed{width:80%;margin:0 auto;}

#instafeed a {
    padding:5px;
    display: inline-block;
    text-align: center;
    -webkit-animation: ease-in fadeIn 3s; /* Chrome, Safari, Opera */
    animation: fadeIn ease-in 3s;
    width:60px;

}
#instafeed a > img {width:100%;}
#instafeed a:hover{
    -webkit-animation: fadeIn 2s linear 1s infinite alternate;
    animation: fadeIn 2s linear 1s infinite alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Custom CSS
 * --------------------------------------- */

.intro p{
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}
.section{
    text-align:center;
}
.wrap{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}

#menu li {
    display:inline-block;
    margin: 10px;
    color: #000;
    background:none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#menu li.active{
    background:#666;
    background: rgba(0,0,0, 0.5);
    color: #fff;
}
#menu li a{
    text-decoration:none;
    color: #000;
}
#menu li.active a:hover{
    color: #000;
}
#menu li:hover{
    background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
    padding: 9px 18px;
    display:block;
}
#menu li.active a{
    color: #fff;
}
#menu{
    position:fixed;
    top:0;
    right:0;
    height: 40px;
    z-index: 70;
    width: auto;
    padding: 0;
    margin:0;
}

.header {
    position: fixed;
    top:0;
    left:0;
    z-index: 70;
    margin:20px;
    font-size:16pt;
    text-transform: uppercase;

}

.slide-header {
    border-radius:20px;
    margin-bottom:20px;
    width:100%;
}

